data/xml/skills/skills.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="skills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="skill">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedInt" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="icon" type="xs:string" />
              <xs:element name="startstring" type="xs:string" />
              <xs:element name="completestring" type="xs:string" />
              <xs:element name="effects">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="caster" type="xs:string" />
                    <xs:element name="castanim" type="xs:string" />
                    <xs:element name="target" type="xs:string" />
                    <xs:element name="targetanim" type="xs:string" />
                    <xs:element name="weapon" type="xs:string" />
                    <xs:element name="projectile" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="stats">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="range" type="xs:unsignedInt" />
                    <xs:element name="duration" type="xs:unsignedInt" />
                    <xs:element name="casttime" type="xs:unsignedInt" />
                    <xs:element name="reusedelay" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="cost">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hp" type="xs:integer" />
                    <xs:element name="mp" type="xs:integer" />
                    <xs:element name="sp" type="xs:integer" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="damage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hp" type="xs:integer" />
                    <xs:element name="mp" type="xs:integer" />
                    <xs:element name="sp" type="xs:integer" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="requirements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="int" type="xs:integer" />
                    <xs:element name="men" type="xs:integer" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
